{% extends 'base.html.twig' %}
{% block body %}
<div class="container" style="height: 100%">
    <div style="padding: 13rem"></div>
    <h1 class="mb-1" style="color: var(--primary-color)">Welcome to SMARKET!</h1>
    <p>Explore our wide range of products and enjoy a seamless shopping experience.</p>
</div>
    <style>
        p {
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{#
<!-- JAVASCRIPT FILES -->
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('init.js') }}"></script>

</body>
</html>

#}
