{% extends 'base.html.twig' %}
{% block body %}
<div class="container absolute-position absolute-center" style="height: 100%">
    <h1>Welcome to SMARKET!</h1>
    <p>Explore our wide range of products and enjoy a seamless shopping experience.</p>
    <p>Check out the latest deals and offers!</p>
    <p>Don't forget to register for an account to enjoy personalized features.</p>
    <p>Happy shopping!</p>
    <p>For any assistance, feel free to contact our support team.</p>
    <p>Stay tuned for exciting updates and new arrivals.</p>
    <p>Follow us on social media for the latest news and promotions.</p>
    <p>Thank you for choosing SMARKET!</p>
    <p>We value your feedback, so please let us know how we can improve your shopping experience.</p>
</div>
{% endblock %}

{#
<!-- JAVASCRIPT FILES -->
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('init.js') }}"></script>

</body>
</html>

#}
