{% extends 'base.html.twig' %}

{% block body %}    <div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row">

        <div class="col-lg-5 col-12 mx-auto">
            <form class="custom-form login-form" role="form" method="post" >
                <h2 class="hero-title text-center mb-4 pb-2">Join The Team</h2>

                {#                Enter Username #}
                <div class="form-floating mb-4 p-0">
                    <input type="text" name="username" id="username" pattern="^[a-zA-Z0-9_]{3,16}$*" class="form-control"
                           placeholder="Email address" required="">

                    <label for="username">Username</label>
                </div>
                {#                Enter Email #}
                <div class="form-floating mb-4 p-0">
                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                           placeholder="Email address" required="">

                    <label for="email">Email address</label>
                </div>
                {#                Enter Password #}
                <div class="form-floating p-0">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                           required="">

                    <label for="password">Password</label>
                </div>
                {#                Submit #}
                <button type="submit" class="form-control mb-4" style="width: 100%">Sign Up</button>
                {#                Register Redirect #}
                <a href="{{ path('login') }}" class="btn custom-btn custom-border-btn" style="width: 100% ; font-size: small; font-weight : lighter ">Already Have An Account ?</a>

            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block title %}
Join us
{% endblock %}

