{% extends 'base.html.twig' %}

{% block title %}All Products{% endblock %}

{% block body %}
    <div class="container absolute-position absolute-center" style="height: 100%">
        <h1>All Products</h1>
        <pre>
        {{ dump(products) }}
        </pre>
    </div>
{% endblock %}
